<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<form action="/" method="POST">
  <div class="mb-3">
    <label for="a" class="form-label">Enter Number 1 : </label>
    <input type="number" class="form-control" name = "a" id="a" value = "a"/>
  </div>
  <div class="mb-3">
    <label for="b" class="form-label">Enter Number 2 : </label>
    <input type="number" class="form-control" name = "b" id="b" value = "b}"/>
  </div>

<div class="s">
    {% if s %}
        Sum is : {{s}}
    {% endif %}
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


    
</body>
</html>